@page
@model Kidega.Web.Areas.Identity.Pages.Account.OrdersModel
@{
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-dark bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white pt-2">My Orders</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table id="tblData" class="table table-bordered table-striped w-100">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>Order Total</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrdersViewModel)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderDate</td>
                        <td>@item.OrderTotal.ToString("c")</td>
                        <td>
                            <a href="/Identity/Account/OrderDetail/@item.Id" class="btn btn-dark mx-2" style="cursor:pointer">
                                <i class="bi bi-pencil-square"></i> Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>