tr td a#action {
    visibility: hidden;
}

tr:hover td a#action {
    visibility: initial;
}

.table-bordered.card {
    border: 0 !important;
}

.card thead {
    display: none;
}

.card tbody tr {
    height: 100%;
    float: left;
    margin: 0.5em;
    border: 1px solid #bfbfbf;
    border-radius: 0.5em;
    background-color: transparent !important;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

    .card tbody tr td {
        display: block;
        border: 0;
    }

p {
    text-align: center;
    color: limegreen;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 1.2em;
}

button {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    text-decoration: underline;
    cursor: pointer;
}

a {
    text-decoration:none;
}